<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="6" parallel="classes">
  <test thread-count="5" name="Test">
    <classes>
      <class name="package1.TestNG2"/>
      <class name="package1.Annotations1"/>
      <class name="package1.annotationOrder1"/>
      <class name="package1.TestNGTest1"/>
      <class name="package1.testNG1"/>
      <class name="package1.timeWait1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
